<html>

<head>
	<link rel="stylesheet" type="text/css" href="../static/css/music_index.css">
</head>


<body>	

	<div>
		<h1> Music Visual </h1>

	    <br>
	    <div >
	    	Volume <br>
	    	<input id="volume" type="range" min="0" max="100" value="60" list="volsettings">
			<datalist id="volsettings">
				<option>0</option>
				<option>20</option>
				<option>40</option>
				<option>60</option>
				<option>80</option>
				<option>100</option>
			</datalist>
			<output for="volume" id="outvolume">60</output>%
	    </div>
	</div>

	<center>
		<div class="musiclist">
			<ul id="list">
				{% for music in music_list %}
				<li title="{{music}}">{{music}}</li>
				{% endfor %}
			</ul>
		</div>
	</center>

	<script type="text/javascript" src="../static/js/music_index.js"> </script>


</body>

</html>