*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

html,
body{
	height: 100%;
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #fff;
	color: #000;
	text-align: center;
}

.musiclist{
	position: absolute;
}


header{
	left: 10px;
	top: 10px;
	right: 10px;
}

header h1 {
	font-size:40px;
	height: 60px;
	line-height: 60px;
}

#page_header #volume {	
	width: 100px;
}


.musiclist {
	left: 50%;
	margin: 0 0 0 -100px;
	top:100px;
	bottom: 10px;
	width: 200px;
	border: solid #000 1px;
}


.musiclist ul{
	overflow: auto;
}

.musiclist ul li{
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.musiclist ul li.selected{
	color: blue;
}


.type .selected {
	background-color:grey;

}
