*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

html,
body{
	height: 100%;
}

body {
	font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #fff;
	color: #000;
	text-align: center;
}

.musiclist{
	position: absolute;
}


header{
	left: 20px;
	top: 40px;
	right: 20px;
}

header h1 {
	font-size:100px;
	height: 120px;
	line-height: 120px;
}

#volume {
	width: 300px;
}

.musiclist {
	left: 50%;
	margin: 0 0 0 -200px;
	top:200px;
	bottom: 20px;
	width: 400px;
	border: solid #000 2px;
}


.musiclist ul{
	overflow: auto;
}

.musiclist ul li{
	height: 60px;
	line-height: 60px;
	cursor: pointer;
}

.musiclist ul li.selected{
	color: blue;
}


.type .selected {
	background-color:grey;

}
